# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_SECRET=

# Model hosting
NEXT_PUBLIC_INFERENCE_SERVER_URL=

BLOB_READ_WRITE_TOKEN=

# Other Supabase keys
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
SUPABASE_JWT_SECRET=
POSTGRES_PRISMA_URL=
POSTGRES_PASSWORD=
